/* Plano de fundo */
body {
    background-image: url('fundo-escola.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;

    /* Faz o rodapé ficar no fim */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Cabeçalho com nome da escola */
.header {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: white;
    background-color: #003366;
    padding: 10px 0;
    margin: 0;
}

/* Menu */
nav {
    background-color: #003366;
    color: white;
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

/* Slide */
#slide-container {
    width: 80%;
    max-width: 1000px;
    margin: 20px auto; /* Centraliza o slide na página */
    position: relative;
}

#slide-container .slide {
    display: none;
}

#slide-container .slide.active {
    display: block;
    opacity: 1;
}

#slide-container .slide img {
    width: 100%;
    display: block;
    border-radius: 10px;
}

/* Rodapé - sempre embaixo */
footer {
    background-color: #003366;
    color: white;
    text-align: center;
    padding: 5px;
    font-size: 12px;
    line-height: 1.2;
    margin-top: auto;
}
